# Copyright (c) 2026 Takayuki Nagata
# SPDX-License-Identifier: Apache-2.0

config BOARD_VUX9K
	bool "VUX9K Dual-ISA RISC-V RV32I SoC"
	depends on SOC_RISCV_VUX9K || SOC_SERIES_RISCV_VUX9K || SOC_RISCV32_CUSTOM || RISCV
	select SOC_SERIES_RISCV_VUX9K
