# Copyright (c) 2026 Takayuki Nagata
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RISCV_VUX9K
	bool "VUX9K Series SoC"
	select RISCV
	select SOC_FAMILY_RISCV
	help
	  Enable support for VUX9K SoC series.
