/*
 * Copyright (c) 2026 Takayuki Nagata
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "vux9k-common.dtsi"

/ {
	model = "VUX9K Tang Nano 9K SoC";
};

/* I-RAM 0x0000-0x37FF: 0x3800-0x3FFF is the Resident Loader */
&flash0 {
	reg = <0x00000000 0x3800>;
};

/* D-RAM 0x2000_0000-0x2000_1FF7: 0x1FF8/0x1FFC hold the Boot Manager <-> RL mailbox */
&sram0 {
	reg = <0x20000000 0x1FF8>;
};
